<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.charland.tanita"
    android:versionCode="1"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:name="roboguice.application.RoboApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >
        <activity
            android:name=".manage.TanitaScaleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".manage.AddActivity" />
        <activity android:name=".manage.DateListActivity" />
        <activity android:name=".manage.PersonDateActivity" />
        <activity android:name=".manage.PeopleListActivity" />
        <activity android:name=".manage.PersonHomeActivity" />
        <activity android:name="BodyFatLeftArmActivity" />
        <activity android:name="BodyFatLeftLegActivity" />
        <activity android:name="BodyFatRightArmActivity" />
        <activity android:name="BodyFatRightLegActivity" />
        <activity android:name="BodyFatTotalActivity" />
        <activity android:name="BodyFatTrunkActivity" />
        <activity android:name="BodyWaterPercentageActivity" />
        <activity android:name="BoneMassActivity" />
        <activity android:name="DateAndTimeActivity" />
        <activity android:name=".DailyCaloricIntakeActivity" />
        <activity android:name="MetabolicAgeActivity" />
        <activity android:name="MuscleMassLeftArmActivity" />
        <activity android:name="MuscleMassLeftLegActivity" />
        <activity android:name="MuscleMassRightArmActivity" />
        <activity android:name="MuscleMassRightLegActivity" />
        <activity android:name="MuscleMassTotalActivity" />
        <activity android:name="MuscleMassTrunkActivity" />
        <activity android:name="PhysicRatingActivity" />
        <activity android:name="TanitaScaleActivity" />
        <activity android:name="VisceralFatActivity" />
        <activity android:name="WeightActivity" android:windowSoftInputMode="stateAlwaysVisible"/>
    </application>

</manifest>